In [1]:
import time
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import openpyxl
import requests

In [2]:
url='https://finance.naver.com/item/sise.naver?code=005930'
html=requests.get(url).text

bs=BeautifulSoup(html,"html5lib")

In [6]:
# 태그 이름으로 특정하거나 태그의 class로 특정하거나(이 때는 .붙임)
table=bs.select_one('.type_tax')
print(table)

<table cellspacing="0" class="type2 type_tax" summary="주요시세 정보에 관한표 입니다.">
			<caption>주요시세</caption>
			<tbody>
				<tr>
				<th class="title">현재가</th>
				<td class="num"><strong class="tah p11" id="_nowVal">64,600</strong></td>
				<th class="title">매도호가</th>
				<td class="num"><span class="tah p11">64,700</span></td>
				</tr>
				<tr>
				<th class="title">전일대비</th>
				<td class="num"><strong id="_diff">
				<em class="bu_p bu_pup" style="margin:0 4px 0 0"><span class="blind">상승</span></em><span class="tah p11 red01">
				700
				</span>
			</strong></td>
				<th class="title">매수호가</th>
				<td class="num"><span class="tah p11">64,600</span></td>
				</tr>
				<tr>
				<th class="title">등락률(%)</th>
				<td class="num"><strong id="_rate">
				<span class="tah p11 red01">
				+1.10%
				</span>
			</strong></td>
				<th class="title">전일가</th>
				<td class="num"><span class="tah p11">63,900</span></td>
				</tr>
				<tr>
				<th class="title">거래량</th>
				<td class="num"><span class="tah p11" id="_quant">18,154,371</span></td>
				<th class="title">시가</th>
				<td class="num"><span class="tah p11">64,400</span></td>
				</tr>
				<tr>
				<th class="title">거래대금(백만)</th>
				<td class="num"><span class="tah p11" id="_amount">


						1,173,645



				</span></td>
				<th class="title">고가</th>
				<td class="num"><span class="tah p11" id="_high">65,000</span></td>
				</tr>
				<tr>
				<th class="title">액면가</th>
				<td class="num">

					<span class="tah p11">100원</span>


				</td>
				<th class="title">저가</th>
				<td class="num"><span class="tah p11" id="_low">63,900</span></td>
				</tr>
				<tr>
				<td bgcolor="#E1E1E1" colspan="4" height="1"></td>
				</tr>
				<tr>
				<th class="title">상한가</th>
				<td class="num"><span class="tah p11">83,000</span></td>
				<th class="title">전일상한</th>
				<td class="num"><span class="tah p11">82,400</span></td>
				</tr>
				<tr>
				<th class="title">하한가</th>
				<td class="num"><span class="tah p11">44,800</span></td>
				<th class="title">전일하한</th>
				<td class="num"><span class="tah p11">44,400</span></td>
				</tr>
				<tr>
				<th class="title">PER</th>
				<td class="num"><span class="tah p11" id="_sise_per">


					10.48

				</span></td>
				<th class="title">EPS</th>
				<td class="num"><span class="tah p11" id="_sise_eps">


					6,164

				</span></td>
				</tr>



				<tr>
					<th class="title">52주 최고</th>
					<td class="num"><span class="tah p11">75,800</span></td>
					<th class="title">52주 최저</th>
					<td align="left" class="num"><span class="tah p11">51,800</span></td>
				</tr>


				<tr>
				<th class="title">시가총액</th>
				<td class="num"><span class="p11"><span class="tah" id="_sise_market_sum">3,856,480</span>억원</span></td>
				<th class="title">상장주식수</th>
				<td class="num"><span class="p11"><span class="tah">5,969,782,550</span></span></td>
				</tr>
				<tr>
				<th class="title">외국인현재</th>
				<td class="num"><span class="p11"><span class="tah">3,005,053</span>천주</span></td>
				<th class="title">자본금</th>
				<td class="num"><span class="p11"><span class="tah">778,046</span>백만</span></td>
				</tr>
			</tbody>
			</table>

In [7]:
# 위 자료에서 class 이름이 "tah p11" 로 되어있음.
# 이렇게 띄어쓰기로 결합된 경우에는 클래스명을 2개라고 보면 됨.
# 즉 tah만 쓰거나 p11만 쓰거나
tags=table.select('.p11')
tags

[<strong class="tah p11" id="_nowVal">64,600</strong>,
 <span class="tah p11">64,700</span>,
 <span class="tah p11 red01">
 				700
 				</span>,
 <span class="tah p11">64,600</span>,
 <span class="tah p11 red01">
 				+1.10%
 				</span>,
 <span class="tah p11">63,900</span>,
 <span class="tah p11" id="_quant">18,154,371</span>,
 <span class="tah p11">64,400</span>,
 <span class="tah p11" id="_amount">


 						1,173,645



 				</span>,
 <span class="tah p11" id="_high">65,000</span>,
 <span class="tah p11">100원</span>,
 <span class="tah p11" id="_low">63,900</span>,
 <span class="tah p11">83,000</span>,
 <span class="tah p11">82,400</span>,
 <span class="tah p11">44,800</span>,
 <span class="tah p11">44,400</span>,
 <span class="tah p11" id="_sise_per">


 					10.48

 				</span>,
 <span class="tah p11" id="_sise_eps">


 					6,164

 				</span>,
 <span class="tah p11">75,800</span>,
 <span class="tah p11">51,800</span>,
 <span class="p11"><span class="tah" id="_sise_market_sum">3,856,480</span>억원</span>,
 <span class="p11"><span class="tah">5,969,782,550</span></span>,
 <span class="p11"><span class="tah">3,005,053</span>천주</span>,
 <span class="p11"><span class="tah">778,046</span>백만</span>]

In [10]:
# select_one()은 첫번째 결과인 반면 select()는 전수 반환
nametags=table.select('.title')

In [11]:
total=[]

for t,n in zip(tags,nametags):
    temp=t.text
    name=n.text
    temp=temp.replace('\n','')
    temp=temp.replace('\t','')
    total.append({name:temp})

total

[{'현재가': '64,600'},
 {'매도호가': '64,700'},
 {'전일대비': '700'},
 {'매수호가': '64,600'},
 {'등락률(%)': '+1.10%'},
 {'전일가': '63,900'},
 {'거래량': '18,154,371'},
 {'시가': '64,400'},
 {'거래대금(백만)': '1,173,645'},
 {'고가': '65,000'},
 {'액면가': '100원'},
 {'저가': '63,900'},
 {'상한가': '83,000'},
 {'전일상한': '82,400'},
 {'하한가': '44,800'},
 {'전일하한': '44,400'},
 {'PER': '10.48'},
 {'EPS': '6,164'},
 {'52주 최고': '75,800'},
 {'52주 최저': '51,800'},
 {'시가총액': '3,856,480억원'},
 {'상장주식수': '5,969,782,550'},
 {'외국인현재': '3,005,053천주'},
 {'자본금': '778,046백만'}]